# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment
.venv/
env/
*.env

# pipenv / poetry / uv environment files
Pipfile.lock
poetry.lock
uv.lock

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Byte-compiled / distribution / packaging
*.egg
*.egg-info/
dist/
build/
*.whl
*.tar.gz

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# FAISS vector store folder (optional, if you want to regenerate locally)
vector_store/

# Temporary uploads
data/
notebook/

# Coverage reports
htmlcov/
.coverage

# Testing and profiling
pytest_cache/
*.prof

# FastAPI file uploads
*.uploaded
